button.mesomb-transaction-start,  button.mesomb-transaction-cancel {
    /*Same css values as ".screen .top-content .button" */
    font-size: 20px;
    padding: 3px 13px;
    line-height: 32px;
    border-radius: 3px;
}

.pos .paymentline.selected.o_pos_mesomb_validate_pending, .pos .paymentline.o_pos_mesomb_validate_pending {
    background: rgb(239, 153, 65);
}
.pos .col-tendered.edit.o_pos_mesomb_validate_pending {
    color: rgb(239, 153, 65);
    box-shadow: 0px 0px 0px 3px rgb(239, 153, 65);
}

.mesomb-form-field {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
}

.mesomb-form-field label {
    text-align: right;
    padding-right: 10px;
}